@model VehicleRental.Web.Models.Branch.BranchDetailModel

@{
    ViewData["Title"] = Model.Name;
}


    <div class="container">
        <div class="clearfix detailHeading">
            <h2 class="text-muted">Customer Details</h2>
        </div>
        <div class="jumbotron">
            <div class=" = row">
                <div class="col-md-12 branchImageContainer">
                    <img class="branchDetailImage" src="@Model.ImageUrl" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>@Model.Name</h3>
                    <p id="itemMake"><strong>Address: </strong>@Model.Address</p>
                    <p id="itemModel"><strong>Location: </strong>@Model.Location</p>
                    <p id="itemBody"><strong>Phone Number: </strong>@Model.Telephone</p>
                    <p id="itemBody"><strong>Established: </strong>@Model.OpenDate</p>
                    <p id="itemBody"><strong>Number of Vehicles: </strong>@Model.NumberOfAssets</p>
                    <p id="itemBody"><strong>Available: </strong>@Model.IsOpen</p>

                </div>
                <div class="col-md-6">
                    <h3 class="text-muted">Hours </h3>
                    @foreach (var day in @Model.HoursOpen)
                    {
                        <p id="itemBody">@day</p>
                    }
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <h4>Checkout History</h4>
                @if (Model.BranchAssets.Count() == 0)
                {
                    <p>No Vehicle Assigned to this Branch</p>
                }
                else
                {
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Vehicle</th>
                                <th>VIN</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var vehicle in @Model.BranchAssets)
                            {
                            <tr>
                                <td>
                                <div>
                                    <a asp-controller="Catalog" asp-action="Detail" asp-route-id="@vehicle.Id">
                                        <img src="@vehicle.ImageUrl" class="vehicleImageCell" />
                                    </a>
                                </div>
                                </td>
                                <td>@vehicle.Make @vehicle.Model</td>
                                <td>@vehicle.VIN</td>
                                <td>@vehicle.Status.Name</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                }

            </div>
        </div>
    </div>