@model VehicleRental.Web.Models.Patron.PatronDetailModel

@{
    ViewData["Title"] = "Customer Details";
}

    <div class="container">
        <div class="clearfix detailHeading">
            <h2 class="text-muted">Customer Details</h2>
        </div>


        <div class="jumbotron">
            <div class="row">
                <div class="col-md-4">
                    <img class="detailImage" src="~/images/home/user-O.png" />
                </div>
                <div class="col-md-4">
                    <p id="itemMake"><strong>Full Name: </strong>@Model.Name</p>
                    <p id="itemModel"><strong>Address: </strong>@Model.Address</p>
                    <p id="itemBody"><strong>Phone Number: </strong>@Model.Number</p>
                    @if (Model.OverdueFees > 0)
                    {
                        <p id="patronHasFees"><strong>Outstanding Fees: </strong>@Model.OverdueFees</p>
                        <br />
                        <p><a class="btn btn-outline-primary" role="button" asp-controller="Patron" asp-action="ClearFees" asp-route-id="@Model.PatronId">Clear Fees</a></p>
                    }
                    else
                    {
                        <p id="patronNoFees"><strong>Outstanding Fees: </strong>@Model.OverdueFees</p>
                    }


                </div>
                <div class="col-md-4">
                    <p id="itemPatron"><strong>License ID: </strong> @Model.LicenseID</p>
                    <p id="itemVIN"><strong>Issue Date: </strong> @Model.IssueDate</p>
                    <p id="itemLocation"><strong>Expiry Date: </strong> @Model.ExpiryDate</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Checkout History</h4>
                @if (Model.CheckoutHistory.Count()== 0)
                {
                    <p>No Checkout History Available For Customer</p>
                }
                else
                {
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Vehicle</th>
                                <th>Check Out Date</th>
                                <th>Return Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var checkoutH in @Model.CheckoutHistory)
                            {
                            <tr>
                                <td>@checkoutH.VehicleRentalAsset.Make @checkoutH.VehicleRentalAsset.Model</td>
                                <td>
                                    @checkoutH.CheckedOut.ToString("dddd, yy-dd-MM - HH:mm tt")
                                </td>
                                <td>
                                    @if (checkoutH.CheckedIn != null)
                                    {
                                        @checkoutH.CheckedIn.Value.ToString("dddd, yy-dd-MM - HH:mm tt")
                                    }
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                }

            </div>
            <div class="col-md-6">
                <h4>Current Checkouts</h4>
                @if (Model.Checkout.Count() == 0)
                {
                    <p>No Current Checkouts Available For Customer</p>
                }
                else
                {
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Vehicle</th>
                                <th>Checkout Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var checkout in @Model.Checkout)
                            {
                            <tr>
                                <td>@checkout.VehicleRentalAsset.Make @checkout.VehicleRentalAsset.Model</td>
                                <td>@checkout.StartTime.ToString("dddd, yy-dd-MM - HH:mm tt")</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                }

            </div>

        </div>
    </div>